__pycache__
.env
run.sh
.vscode
*.txt
temp_scripts
dist
*egg-info.jarvis
.jarvis
jarvis_ai_assistant.egg-info
PKG-INFO
.jarvis-*
tags
logs
patches*
.venv
build
uv.lock
*.pdf
plantuml-images
package-lock.json
package.json
node_modules
package-lock.json
package.json
node_modules